* {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

body {
    background-color: black;
}

.screen {
    height: 35rem;
    width: 16rem;
    margin: auto;
    margin-top: 5rem;
    border-radius: 1rem;
    box-sizing: content-box;
}

.white {
    background-color: #fdfffc;
}

.black {
    background-color: black;
}

.nav-bar {
    height: 2rem;
    width: 100%;
    padding: 0 0.2rem;
    padding-top: 0.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.option {
    width: 70%;
    color: #6c757d;
    display: flex;
    justify-content: space-evenly;
}

.menu, .mode {
    color: #6c757d;
    width: 10%;
    display: flex;
}

.hide {
    display: none;
}

.cal {
    color: #6c757d;
    display: flex;
    align-items: center;
}

.back {
    background-color: #2ec4b6;
    border-radius: 1rem;
    border: 0.3rem solid #2ec4b6;
    color: #fdfffc;
}

.conventer {
    display: flex;
    align-items: center;
}

.output {
    width: 100%;
    height: 12rem;
    box-sizing: border-box;
    padding: 1rem;
}

.btn {
    width: 100%;
    height: 20rem;
    box-sizing: border-box;
    padding: 0.2rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-size: 1.5rem;
    color: #6c757d;
}

.math {
    color: #2ec4b6;
}

.output {
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 1.5rem;
    color: #6c757d;
}